;
; BIND data file for {{ config.ns_domain }}
;
$TTL            604800
@               IN      SOA     {{ config.ns_domain }}. root.{{ config.ns_domain }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

@               IN      NS      ns.{{ config.ns_domain }}.
@               IN      A       {{ config.root_addr | default (config.server_addr) }}
@               IN      AAAA    ::1
ns              IN      A       {{ config.server_addr }}
{% for subdomain in config.subdomains -%}
{{ subdomain.name.ljust(15) }} IN      A       {{ subdomain.addr }}
{% endfor %}
